body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.scrollabletextbox {
    background-color: #ededed;
    color: #000000;
    margin: 20px;
    margin-bottom: 40px;
    width: 50vw;
    height: 50vh;
    resize: none;
}

.file-upload {
    width: 30vw;
    height: 20vw;
    background-color: #ededed;
    margin: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        filter: brightness(70%);
        cursor: pointer;
    }
}

.file-upload-icon {
    width: 60%;
    height: 60%
}

.hide {
    display: none;
}

button {
    background-color: #ededed;
    color: #000000;
    padding: 10px;
    border-radius: 20px;
    border: 0;
    box-shadow: none;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      filter: brightness(80%);
      cursor: pointer;
  }}
  

.hiiii {
    margin-bottom: 20px;
}
